@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    margin-top: 10%;
}

h2{
    color: white;
    text-align: center;
    font-family: 'Handlee';
}

h2::after{
    font-family: "FontAwesome";
    content: "  \f004";
}

section{
    margin: auto;
    border: 1px solid rgba(188,188,188,0.544);
    border-radius: 20px;
    background-color: #ffffffcc;
    padding: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 1000px;
}

img{
    max-width: 300px;
    border-radius: 20px;
    justify-content: center;
    margin: 10px;
    opacity: 1;
    transition: all 1s;
    border: 1px solid rgba(222,222,222,0.118);
    box-shadow: 0 4px 8px 0 rgba(8,7,7,0.343);
}

.picture{
    position: relative;
    transition: all 1s;
}

.picture:hover img {
    opacity: .3;
    transform: scale(.9,.9);
}

.picture:hover i::after{
    font-family: "Handlee";
    color: white;
    content: attr(title);
    position: absolute;
    top: 50%;
    right: 50%;
    animation-name: text;
    animation-duration: 1s;
}

.picture:hover i::before{
    position: absolute;
    top: 25%;
    left: 35%;
    color: rgb(233, 75, 75);
    font-size: 100px;
    content: "\f004";
    opacity: .7;
    animation-name: heart;
    animation-duration: .8s;
}


.page4{
    margin-top: 35px;
}
.page4 hr{
    border: 2px solid white;
    margin-top: -15px;
}
.page4 h3{
    margin-bottom: 20px;
}
.list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.musik{
    margin-top: 10px;
    padding: 7px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 23px;
    background-color: #0099FF;
}

.musik:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .3s;
}


@keyframes heart {
    from { top: 40%}
    to {top: 25%}
}

@keyframes text {
    from { right:  60%}
    to {right: 50%}
}
